body {
    height: 100vh;
}

.form-select {
    width: 120px;
}

img {
    display: block;
}

main {
    height: calc((100vh - 82.2px) - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    aspect-ratio: 1;
    user-select: none;
}

.box:hover {
    cursor: pointer;
}

.easy {
    width: calc(100% / 10);
}

.normal {
    width: calc(100% / 9);
}

.hard {
    width: calc(100% / 7);
}

.active {
    background-color: black;
    color: white;
}